.info-sec{
}
.info-sec h2{
    font-size: 20px;
    font-family: sans-serif;
    font-family: sans-serif!important;
    margin-bottom: 25px!important;
}
.info-sec p{
    color: #313131!important;
    font-size: 15px;
    margin: 0px 0px;
}
